.st0{fill:none;}
.st1{fill:#A7A4A5;}
.st2{fill:#908E90;}
.st3{fill:#7B7979;}
.st4{fill:#656463;}
.st5{fill:#4F4C4D;}
.st6{fill:#51A2D9;}

/*Debug colours */
  /*g.static rect, g.static path{
    fill: red;
    opacity: 0.1;
  }

  g.horizontal rect, g.horizontal path {
    fill: blue;
    opacity: 0.6;
  }

  g.vertical rect, g.vertical path {
    fill: blue;
    opacity: 0.6;
  }

  rect.m {
    fill: red !important;
    opacity: 0.5;
  }*/